{% extends "extend/base.html" %}

{%  block body %}
    <div class="container main">
        <div class="mb-2 mt-2">
            <div class="row justify-content-center w-100">
                <div id="rank-block">
                    <div id="rank-table">
                        <div class="card mb-2">
                            <div class="card-header">
                                <b>Ranking</b>
                            </div>
                            <div class="card-body table-fill">
                                <div class="table-responsive">
                                    <table class="table table-striped no-bottom-margin">
                                        <thead class="text">
                                            <tr class="bg-primary text-center text-white font-weight-bold">
                                                <td>
                                                    Rank
                                                </td>
                                                <td>
                                                    Player
                                                </td>
                                                <td>
                                                    Main
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for player in ranked_players %}
                                            <tr>
                                                <td>
                                                    <b>{{ loop.index }}</b>
                                                </td>
                                                <td>
                                                    <a href="/player/{{ player.uid }}/">{{ player.name }}</a>
                                                </td>
                                                <td>
                                                    <p>{% if player.main_name is not none %} {{ player.main_name }} {% endif %}</p>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}